* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00524f;
    color: #fdf5ec;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.main-nav__list {
    list-style-type: none;
    display: flex;
    gap: 20px;

}

.main-nav__link {
    color: #fafeff;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.main-nav__link:hover {
    text-decoration: underline;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav__button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #deda7b;
    color: #272727;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border: 2px solid #deda7b;
    transition: transform 0.2s linear;
}

.main-nav__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
    transform: scale(1.1);
}


.hero {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    line-height: 1;
}

.hero-title {
    font-size: 85px;
    font-weight: bold;
    max-width: 600px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
}

.dots span {
    width: 40px;
    height: 40px;
    background-color: #f8caca;
    border-radius: 50%;
    display: inline-block;
}

.hero__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 100px;
    font-weight: bold;
}

.hero-description {
    max-width: 600px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 50px;
}

.services {
    background-color: #f7f0ec;
    color: #272727;
    padding: 200px;
    margin-top: 20px;
    position: relative;
}

.services__text {
    font-size: 60px;
    text-align: left;
}

.services__button {
    display: inline-block;
    padding: 20px 30px;
    background-color: #c4b2f6;
    border-radius: 30px;
    color: #272727;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
    left: 200px;
}

.services__button:hover {
    background-color: #272727;
    border: 2px solid #c4b2f6;
    color: #fafeff;
    cursor: pointer;
    transition-duration: 0.2s;
}

.tech {
    background: #272727;
    padding: 100px;
}

.tech__content {
    text-align: left;
    color: #f7f1ea;
}

.tech__badge {
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    font-size: 50px;
}

.tech__badge--yellow {
    background-color: #6f6f46;
    color: #dadb7f;
}

.tech__badge--purple {
    background-color: #655f77;
    color: #c1b1ee;
}