* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    color: #fdf5ec;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

.container {
    max-width: 1505px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    top: 37px;
    left: -2px;
    right: -2px;
    z-index: 10;
}

.main-nav__list {
    list-style-type: none;
    display: flex;
    gap: 5.5rem;
}

.main-nav__link {
    color: #fafeff;
    font-size: 1.6rem;
    line-height: 1;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav__button {
    border-radius: 35px;
    padding: 17px 43px;
    background-color: #deda7b;
    color: #272727;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1;
    border: 2px solid #deda7b;
    transition: transform 0.2s linear;
}

.main-nav__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
    transform: scale(1.1);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #00524f;
    padding: 110px 40px 80px;
    height: 100vh;
    position: relative;
}

.hero .content-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: relative;
    z-index: 3;
}

.hero .content-bottom h2 {
    font-size: 9.1rem;
    line-height: 1.2;
    font-weight: 400;
}

.hero .content-bottom .text-left {
    max-width: 45rem;
    font-size: 1.6rem;
    line-height: 1.4;
}

.hero .content-bottom .text-right {
    text-align: right;
}


.hero-title {
    font-size: 9.2rem;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 2%;
    z-index: 2;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.8vw;
    margin: 30px 0;
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.dots span {
    width: 3rem;
    height: 3rem;
    background-color: #f8caca;
    border-radius: 50%;
    display: inline-block;
}

.hero__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 100px;
    font-weight: lighter;
}

.services {
    background-color: #f7f0ec;
    color: #272727;
    padding-bottom: 2.3rem;
}

.services .content-wrap {
    padding: 12.2rem 0 15rem;
}

.text-wrap {
    font-size: 5.8rem;
    line-height: 1.1;
    margin-bottom: 7.6rem;
}

.services__button {
    padding: 1.8rem 3.5rem;
    background-color: #c4b2f6;
    border: 2px solid #c4b2f6;
    border-radius: 55px;
    color: #272727;
    font-size: 1.6rem;
    line-height: 1;
    transition: all .2s linear;
}

.services__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
}

.tech {
    background: #272727;
    border-radius: 10px;
    margin: 20px 38px 0;
}

.tech .content-wrap {
    color: #f7f1ea;
    padding: 16.4rem 1.5rem;
}

.tech__badge {
    padding: 1.2rem 0.8rem;
    border-radius: 12px;
    display: inline-block;
    margin: 5px;
    font-size: 3.6rem;
}

.tech__badge--yellow {
    background-color: #6f6f46;
    color: #dadb7f;
}

.tech__badge--purple {
    background-color: #655f77;
    color: #c1b1ee;
}

.case-studies {
    background-color: #ffffff;
    padding: 9rem 0
}

.case-studies__title {
    font-size: 5.8rem;
    font-weight: 400;
    line-height: 1;
    color: #282828;
    margin-bottom: 6.7rem;
}

.case-studies__item {
    padding: 9.2rem 2.8rem 4.5rem;
}

.case-studies__name {
    font-size: 3.9rem;
    color: black;
    font-weight: 400;
    margin-bottom: 11.3rem;
    max-width: 20em;
}

.case-studies__item__button {
    text-decoration: none;
    background-color: #fff;
    color: black;
    border-radius: 40px;
    padding: 1.8rem 3.7rem;
    font-size: 1.6rem;
}

.case-studies__button {
    padding: 1.8rem 3.6rem;
    font-size: 1.6rem;
    line-height: 1;
    border-radius: 70px;
    background-color: #ec7a5e;
    border: 2px solid #ec7a5e;
    color: black;
}

.case-studies__button:hover {
    background-color: #000000;
    color: #5c5b5b;
}

.case-studies__card {
    position: relative;
    border-radius: 90px;
    overflow: hidden;
    margin-bottom: 5.6rem;
}

.case-studies__card:hover {
    cursor: pointer;
}


.case-studies__card .content-wrap {
    position: relative;
    z-index: 2;
}

.case-studies__card .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("./images/bg01.svg") 50% 50% / cover no-repeat;
    z-index: 1;
}

.case-studies .link-wrap {
    text-align: right;
}

.blog {
    background-color: #f7f0ec;
    color: #252729;
}

.blog__title {
    font-size: 70px;
    font-weight: lighter;
    padding: 112px 126px;
}

.latest__post--title {
    font-size: 20px;
    padding-left: 120px;
}

.blog__posts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 20px;
}

.blog__post {
    background-color: #ffffff;
    padding: 200px 20px;
    margin-bottom: 50px;
}

.blog__button {

    border-radius: 35px;
    padding: 24px 65px2;
    background-color: #deda7b;
    color: #272727;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border: 2px solid #deda7b;
    transition: transform 0.2s linear;
}

.blog__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
    transform: scale(1.1);
}

.footer {
    background-color: #272727;
    padding: 60px 20px;
}


.footer__nav {
    display: flex;
    justify-content: space-between;
    align-content: start;
    max-width: 300px;
    margin: 0 auto;
}

.footer__menu {
    list-style: none;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link--active {
    text-decoration: underline;
}

.footer__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer__btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.footer__btn--outline {
    background: #ffffff;
    padding: 24px 78px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    margin-left: 800px;
    transition: transform 0.2s linear;

}

.footer__btn--outline:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.1);
}

.footer__btn--solid {
    background: #c4b2f6;
    padding: 24px 78px;
    border-radius: 50px;
    border: 2px solid #c4b2f6;
    transition: transform 0.2s linear;
}

.footer__btn--solid:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.1);
}

.footer__circle {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 30px 0;
}

.footer__circle span {
    width: 449px;
    height: 454px;
    background-color: #ec7a5e;
    border-radius: 50%;
    display: inline-block;
    margin: -70px;
}

.footer__heading {
    font-size: 110px;
    margin: -83px 74px;
    line-height: 1.2;
}

.footer__contact {
    margin-top: 150px;
    display: flex;
}

.footer__email {
    text-decoration: none;
    margin: -10px 100px;
    color: white;
    font-size: 16px;
    padding: 21px 70px;
    border: 1px solid rgb(91, 85, 85);
    border-radius: 50px;
}

.footer__social {
    margin-top: -14px;
    margin-left: -80px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__social-link {
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 18px 24px;
    border: 1px solid white;
    border-radius: 47%;
    display: inline-block;
}

.footer__credits {
    opacity: 0.6;
    font-size: 21px;
    margin-top: -47px;
    margin-right: 89px;
    color: #7a7776;
    display: flex;
    justify-content: right;
}