* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    color: #fdf5ec;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 16px;
}

.container {
    max-width: 1505px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    top: 1.4rem;
    left: 0;
    right: 0;
    z-index: 10;
}

.main-nav__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5.5rem;
}

.main-nav__link {
    color: #fafeff;
    font-size: 1.6rem;
    line-height: 1;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav__button {
    border-radius: 35px;
    padding: 17px 43px;
    background-color: #deda7b;
    color: #272727;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1;
    border: 2px solid #deda7b;
    transition: transform 0.2s linear;
}

.main-nav__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
    transform: scale(1.1);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #00524f;
    padding: 110px 40px 80px;
    height: 100vh;
    position: relative;
}

.hero .content-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: relative;
    z-index: 3;
}

.hero .content-bottom h2 {
    font-size: 9.1rem;
    line-height: 1.2;
    font-weight: 400;
}

.hero .content-bottom .text-left {
    max-width: 45rem;
    font-size: 1.6rem;
    line-height: 1.4;
}

.hero .content-bottom .text-right {
    text-align: right;
}

.burger-menu {
    display: none;
}

.hero-title {
    font-size: 9.2rem;
    line-height: 1;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 2%;
    z-index: 2;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.8vw;
    margin: 30px 0;
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.dots span {
    width: 3rem;
    height: 3rem;
    background-color: #f8caca;
    border-radius: 50%;
    display: inline-block;
}

.hero__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 100px;
    font-weight: lighter;
}

.services {
    background-color: #f7f0ec;
    color: #272727;
    padding-bottom: 2.3rem;
}

.services .content-wrap {
    padding: 12.2rem 0 13.1rem;
}

.services .text-wrap {
    font-size: 5.8rem;
    line-height: 1.1;
    margin-bottom: 5.8rem;
}

.span__image {
    background: url("./images/service_image_1.png") 50% 55% / cover no-repeat;
}

.span__image-simplify {
    background: url("./images/service_image_2.png") 50% 55% / cover no-repeat;
}

.services__button {
    padding: 1.8rem 3.5rem;
    background-color: #c4b2f6;
    border: 2px solid #c4b2f6;
    border-radius: 55px;
    color: #272727;
    font-size: 1.6rem;
    line-height: 1;
    transition: all .2s linear;
}

.services__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
}

.tech {
    background: #272727;
    border-radius: 25px;
    margin: 20px 38px 0;
}

.tech .content-wrap {
    color: #f7f1ea;
    padding: 15.8rem 1.5rem 17.4rem;
}

.tech__badge {
    padding: 1.2rem 0.8rem;
    border-radius: 12px;
    display: inline-block;
    margin: 5px;
    font-size: 3.6rem;
}

.tech__badge--yellow {
    background-color: #6f6f46;
    color: #dadb7f;
}

.tech__badge--purple {
    background-color: #655f77;
    color: #c1b1ee;
}

.case-studies {
    background-color: #ffffff;
    padding: 9rem 0
}

.case-studies__title {
    font-size: 5.8rem;
    font-weight: 400;
    line-height: 1;
    color: #282828;
    margin-bottom: 6.7rem;
}

.case-studies__item {
    padding: 9.2rem 2.8rem 2.8rem;
}

.case-studies__name {
    font-size: 3.9rem;
    color: black;
    font-weight: 400;
    margin-bottom: 9.1rem;
    max-width: 20em;
}

.case-studies__item__button {
    text-decoration: none;
    background-color: #fff;
    color: black;
    border-radius: 40px;
    padding: 1.8rem 3.7rem;
    font-size: 1.6rem;
}

.case-studies__button {
    padding: 1.8rem 3.6rem;
    font-size: 1.6rem;
    line-height: 1;
    border-radius: 70px;
    background-color: #ec7a5e;
    border: 2px solid #ec7a5e;
    color: black;
}

.case-studies__button:hover {
    background-color: #000000;
    color: #5c5b5b;
}

.case-studies__card {
    position: relative;
    border-radius: 90px;
    overflow: hidden;
    margin-bottom: 3.6rem;
}

.case-studies__card:hover {
    cursor: pointer;
}

.case-studies__card .content-wrap {
    position: relative;
    z-index: 2;
}

.case-studies__card .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("./images/bg01.svg") 50% 50% / cover no-repeat;
    z-index: 1;
}

.case-studies .link-wrap {
    text-align: right;
}

.case--studies__sponsors {
    object-fit: cover;
    padding-top: 4rem;

}

.blog {
    background-color: #f7f0ec;
    color: #252729;
    padding: 8.5rem 0;
}

.blog__title {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 5.7rem;
}

.latest__post {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 2.9rem;
}

.blog__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 2.4rem;
}

.blog__posts .text-wrap {
    padding: 1.4rem 1.2rem;
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blog__post-title {
    font-size: 1.9rem;
    line-height: 1.3;
    font-weight: 400;
}

.blog__post {
    width: 100%;
    flex: 1;
}

.blog .btn-holder {
    text-align: right;
}

.post-item {
    height: 535px;
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.post-item .img-holder {
    height: 175px;
    width: 100%;
}

.post-item .img-holder img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.blog__button {
    border-radius: 50px;
    padding: 1.8rem 3.6rem;
    background-color: #deda7b;
    color: #272727;
    text-decoration: none;
    font-size: 1.6rem;
    border: 2px solid #deda7b;
    transition: transform 0.2s linear;
    display: inline-block;
    vertical-align: middle;
}

.blog__button:hover {
    background-color: #272727;
    color: #fafeff;
    cursor: pointer;
    transform: scale(1.1);
}

.user-profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.user-image {
    height: 35px;
    width: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    text-transform: capitalize;
    font-size: 1.6rem;
    line-height: 1;
}

.footer {
    background-color: #272727;
    padding: 7.8rem 0 2rem;
    position: relative;
}

.footer .content-wrap {
    position: relative;
    z-index: 2;
}

.footer .content-top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17.5rem;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 31rem;
    width: 100%;
}

.footer__menu:first-child {
    margin-right: 10.4rem;
}

.footer__item {
    margin-bottom: 1.6rem;
}

.footer__link {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer .content-top .button-wrap {
    flex: 1;
    margin-top: 1.3rem;
}

.footer__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.footer__btn {
    padding: 1.8rem 5rem;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.footer__btn--outline {
    background: #ffffff;
    border: 2px solid #ffffff;
    transition: transform 0.2s linear;
}

.footer__btn--outline:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.1);
}

.footer__btn--solid {
    background: #c4b2f6;
    padding: 24px 78px;
    border-radius: 50px;
    border: 2px solid #c4b2f6;
    transition: transform 0.2s linear;
}

.footer__btn--solid:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.1);
}

.footer__circle {
    width: 28rem;
    height: 28rem;
    background-color: #ec7a5e;
    border-radius: 50%;
    position: absolute;
    top: 13rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.footer__heading {
    font-size: 9.2rem;
    line-height: 1;
    font-weight: 400;
}

.footer .content-bottom {
    margin-top: 4.5rem;
}

.footer__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.footer__email {
    color: white;
    font-size: 1.6rem;
    padding: 1.8rem 4rem;
    border: 1px solid rgb(91, 85, 85);
    border-radius: 50px;
    margin-right: 15px;
}

.footer__social {
    display: flex;
    flex: 1;
    gap: 18px;
}

.footer__social-link {
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    border: 1px solid white;
    border-radius: 45px;
    padding: 1.5rem 2.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__credits {
    font-size: 1.6rem;
    line-height: 1;
    color: #7a7776;
}

@media only screen and (max-width: 1799px) {
    html {
        font-size: 14px;
    }

    .dots {
        gap: 3.4vw;
    }

    .dots span {
        width: 2.8rem;
        height: 2.8rem;
    }

    .post-item {
        height: 500px;
    }
}

@media only screen and (max-width: 1439px) {
    html {
        font-size: 12px;
    }

    .main-nav__list {
        gap: 4.5rem;
    }

    .dots span {
        width: 2.6rem;
        height: 2.6rem;
    }

    .services .content-wrap {
        padding: 10rem 0;
    }

    .case-studies {
        padding: 7rem 0;
    }

    .post-item {
        height: 475px;
    }

    .footer {
        padding: 6.8rem 0 2rem;
    }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 11px;
    }

    .header {
        top: 1rem;
    }

    .hero {
        padding: 90px 40px 60px
    }

    .hero-title {
        font-size: 8.2rem;
    }

    .hero .content-bottom h2 {
        font-size: 8.1rem;
    }

    .services .text-wrap {
        font-size: 5.4rem;
    }

    .services .content-wrap {
        padding: 8rem 0;
    }

    .tech__badge {
        padding: 0.9rem 0.8rem;
        font-size: 3.1rem;
    }

    .case-studies__title {
        font-size: 4.8rem;
    }

    .case-studies__card {
        border-radius: 50px;
    }

    .case-studies__item {
        padding: 6.2rem 2.8rem 2.8rem;
    }

    .blog__title {
        font-size: 4.7rem;
        margin-bottom: 5.7rem;
    }

    .post-item {
        height: 435px;
    }

    .footer__heading {
        font-size: 7.2rem;
    }
}

@media only screen and (max-width: 1023px) {
    html {
        font-size: 8px;
    }

    .header {
        padding: 15px 30px;
    }

    .dots {
        gap: 3vw;
    }

    .dots span {
        width: 2.6rem;
        height: 2.6rem;
    }

    .services .text-wrap {
        font-size: 5rem;
    }

    .services .content-wrap {
        padding: 6rem 0;
    }

    .case-studies__card {
        border-radius: 50px;
    }

    .case-studies__title {
        font-size: 4.4rem;
    }

    .case-studies__item {
        padding: 5.4rem 2.8rem 3rem;
    }

    .blog {
        padding: 7.4rem 0;
    }

    .post-item {
        height: 330px;
    }

    .blog__posts {
        grid-template-columns: 1fr 1fr;
    }

    .footer__heading {
        font-size: 6.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        padding: 0px 18px;
        top: 2.7rem;
    }

    .header__logo {
        width: 9.3rem;
    }

    .burger-menu {
        display: block;
        width: 36px;
        height: 36px;
        position: relative;
    }

    .burger-menu span {
        position: absolute;
        height: 3px;
        background: #deda7b;
        display: inline-block;
        vertical-align: middle;
        left: 0;
        right: 0;
    }

    .burger-menu span:first-child {
        top: 10px;
    }

    .burger-menu span:last-child {
        top: 20px;
    }


    .dots {
        top: 34.5%;
        gap: 1.6vw;
    }

    .dots span {
        width: 2.6rem;
        height: 2.6rem;
    }

    .main-nav {
        display: none;
    }

    .hero {
        padding: 86px 10px 44px;
    }

    .hero-title {
        font-size: 5rem;
        top: 11.8%;
        left: 5%;
    }

    .hero .content-bottom {
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero .content-bottom .text-right {
        width: 100%;
        order: 1;
        margin-bottom: 3.5rem;
    }

    .hero .content-bottom .text-left {
        width: 100%;
        order: 2;
        font-size: 1.9rem;
        line-height: 1.5;
    }

    .hero .content-bottom h2 {
        font-size: 4.9rem;
    }

    .services .text-wrap {
        font-size: 4.7rem;
        line-height: 1.3;
        margin-bottom: 2.5rem;
    }

    .services__button {
        padding: 2.7rem 1.7rem;
    }

    .tech {
        margin: 20px 15px 0;
        border-radius: 20px;
    }

    .tech__badge:first-child {
        font-size: 3rem;
    }

    .tech__badge {
        margin: 3px;
        font-size: 2.3rem;
        border-radius: 4px;
    }

    .case-studies__card {
        border-radius: 18px;
        margin-bottom: 4.3rem;
    }

    .case-studies__title {
        margin-bottom: 4rem;
        line-height: 1.3;
    }

    .case-studies__item {
        padding: 6.1rem 1.2rem 1.2rem;
    }

    .case-studies__name {
        font-size: 3rem;
        line-height: 1.3;
        margin-bottom: 6.6rem;
    }

    .case-studies__item__button {
        padding: 2.5rem 3.3rem;
    }

    .case-studies__button {
        padding: 2.8rem 1.6rem;
    }

    .latest__post {
        font-size: 1.8rem;
    }

    .blog__posts {
        grid-template-columns: 1fr;
    }

    .post-item .img-holder {
        display: none;
    }

    .post-item {
        height: auto;
    }

    .blog__posts .text-wrap {
        padding: 2rem 1.8rem;
    }

    .blog__post-title {
        font-size: 3rem;
    }

    .blog__post {
        margin-bottom: 3rem;
    }

    .user-image {
        height: 26px;
        width: 26px;
        margin-right: 5px;
    }

    .blog__button {
        padding: 2.6rem;
    }

    .footer {
        padding: 5.5rem 0 5rem;
    }

    .footer__nav {
        max-width: 100%;
    }

    .footer__item {
        margin-bottom: 2.8rem;
    }

    .footer__link {
        font-size: 1.8rem;
    }

    .footer__menu:first-child {
        margin-right: 12.8rem;
    }

    .footer__nav {
        padding: 0 2.5rem;
        width: 100%;
    }

    .footer .content-top {
        margin-bottom: 29rem
    }

    .footer .content-top .button-wrap {
        width: 100%;
        margin-top: 0;
    }

    .footer__buttons {
        justify-content: flex-start;
    }

    .footer__btn {
        padding: 2.5rem 3.8rem !important;
    }

    .footer__circle {
        width: 35rem;
        height: 35rem;
        top: 23rem;
    }

    .footer__heading {
        font-size: 4.5rem;
    }

    .footer .content-bottom {
        margin-top: 3.5rem;
    }

    .footer__email {
        font-size: 1.8rem;
        padding: 2.6rem 1.8rem;
    }

    .footer__contact .link-wrap {
        width: 100%;
    }

    .footer__social {
        flex: 1;
        justify-content: flex-start;
        margin-top: 2rem;
        gap: 28px;
    }

    .footer__social-link {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    .footer__credits {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 519px) {
    .dots {
        top: 34.5%;
        gap: 2vw;
    }

    .dots span {
        width: 2rem;
        height: 2rem;
    }
}